name: Test

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Check codestyle
        run: git ls-files *.{cpp,h} | xargs clang-format -i && git diff --exit-code

      - name: Build test
        run: sudo apt install libsfml-dev && make